#number {
    font-size: 80px;
    text-align: center;
    margin-bottom: 16px;
}

#logs {
    text-align: center;
    font-family: "consolas", "monaco", "monospace";
    margin-bottom: 32px;
}

.ops {
    text-align: center;

}

#op1 {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#op1:hover {
    background-color: #4CAF50;
    color: black;
}

#op2 {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #008CBA;
    color: #008CBA;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#op2:hover {
    background-color: #008CBA;
    color: rgb(0, 0, 0);

}

#oprestart {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #f44336;
    color: #f44336;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}



#oprestart:hover {
    background-color: #f44336;
    color: rgb(0, 0, 0);

}

.content {
    background-color: rgba(255, 239, 199, 0.8);
    width: max(50%, 300px);
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    height: 100%;
    /* background-image: url(./img/bg2.png); */
    background-image: linear-gradient(to right, rgb(140, 255, 245), rgb(39, 252, 199));
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#settings {
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    /*dim the background*/
    display: none;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear;
}